.table-content{
    max-height: 500px;
    overflow-y: scroll;
}

.btn-refund {
    color: #fff;
    background-color: #890404;
    border-color: #890404;


    &:hover{
        background-color: #700303;
    }
}

tr.refund {
    background: #d3010145;
}

.btn-add-sale {
    color: #fff;
    background-color: #a36b06d6;
    border-color: #a36b06d6;

    &:hover{
        background-color: #8c5e07d6;
    }
}