<div class="Inner_content_sec">

  <!-- <button (click)="celebrate()">Celebrate!</button> -->
<div class="MainArea">
  <ngb-carousel [pauseOnHover]="false" [pauseOnFocus]="false" [interval]="10000" [showNavigationArrows]="false" [showNavigationIndicators]="false" [wrap]="true">

    <ng-template ngbSlide>
      <div class="top-headings">
        <div class="row">
          <div class="col-md-12 text-center text-white">
            <h2 class="text-center">
              TOP UPSELL PERFORMERS
            </h2>
            <p>
              {{currentDate | date : "EEEE, MMMM dd, yyyy"}}
            </p>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="row">
          <div class="col-md-12 ">
            <div class="table-set-height">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 5%;">Rank</th>
                    <th>Name</th>
                    <th style="width: 15%;" class="text-center">Team</th>
                    <th style="width: 15%;" class="text-center">Bench</th>
                    <th style="width: 15%;" class="text-center">Achieved</th>
                    <!-- <th style="width: 15%;" class="text-center">RemainingPerday</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rank of upSells">
                    <td class="text-center"
                      [style.background-color]="rank.Rank == 1 ? '#cbb54c !important' : rank.Rank == 2 ? '#97a3adde !important' : rank.Rank == 3 ? '#dd8888 !important' : 'transparent !important'">
                      {{ rank.Rank }}
                    </td>
                    <td>{{ rank.Name }}</td>
                    <td class="text-center">{{ rank.TeamName }}</td>
                    <td class="text-center">
                      {{rank.Bench | number}}
                    </td>
                    <td class="text-center">
                      {{rank.Achive | number}}
                    </td>
                    <!-- <td class="text-center">
                      {{rank.RemainingPerday | number}}
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="top-headings">
        <div class="row">
          <div class="col-md-12 text-center text-white">
            <h2 class="text-center">
              TOP FRONT SELL PERFORMERS
            </h2>
            <p>
              {{currentDate | date : "EEEE, MMMM dd, yyyy"}}
            </p>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="row">
          <div class="col-md-12 ">
            <div class="table-set-height">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 5%;">Rank</th>
                    <th>Name</th>
                    <th style="width: 15%;" class="text-center">Team</th>
                    <th style="width: 15%;" class="text-center">Bench</th>
                    <th style="width: 15%;" class="text-center">Achieved</th>
                    <!-- <th style="width: 15%;" class="text-center">RemainingPerday</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rank of frontSells">
                    <td class="text-center"
                      [style.background-color]="rank.Rank == 1 ? '#cbb54c !important' : rank.Rank == 2 ? '#97a3adde !important' : rank.Rank == 3 ? '#dd8888 !important' : 'transparent !important'">
                      {{ rank.Rank }}
                    </td>
                    <td>{{ rank.Name }}</td>
                    <td class="text-center">{{ rank.TeamName }}</td>
                    <td class="text-center">
                      {{rank.Bench | number}}
                    </td>
                    <td class="text-center">
                      {{rank.Achive | number}}
                    </td>
                    <!-- <td class="text-center">
                      {{rank.RemainingPerday | number}}
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="top-headings">
        <div class="row">
          <div class="col-md-12 text-center text-white">
            <h2 class="text-center">
              TOP TEAMS
            </h2>
            <p>
              {{currentDate | date : "EEEE, MMMM dd, yyyy"}}
            </p>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="d-flex justify-content-evenly row p-3">
          <ng-container *ngFor="let item of teamsData let i=index">
            <div class="card-box">
              <div class="image">
                <span class="smBadge">
                  <img
                  [src]="'../../../../assets/images/bgImages/' + item?.Rank + '.png'" alt="">
                </span>
                <img src="../../../../assets/images/bgImages/{{item.TeamLogo}}" alt="" />
                <p></p>
              </div>
              <div class="row" style="background-color: rgb(174, 135, 22);">
                <div class="col-md-12 text-center text-white">
                  <h4>
                    {{item.TeamName}}
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="details text-center">
                  <h5 class="text-danger">
                    Bench
                  </h5>
                </div>
                <div class="details text-center">
                  <h5 class="text-danger">
                    {{item.TotalBench | number}}
                  </h5>
                </div>
                <div class="details text-center">
                  <h5 class="text-warning">
                    Achieved
                  </h5>
                </div>
                <div class="details text-center">
                  <h5 class="text-warning">
                    {{item.TotalAchieve | number}}
                  </h5>
                </div>
                <div class="details text-center">
                  <h5 style="font-size: 36px !important;" class="text-warning">
                    RemainingPerday
                  </h5>
                </div>

                <div class="details text-center">
                  <h5  class="text-warning">
                    {{item.TotalReamingTarget | number}}
                  </h5>
                </div>
              </div>
            </div>
          </ng-container>


        </div>
      </div>
    </ng-template>
    <ng-template *ngIf="agentOfDay" ngbSlide>
      <div class="top-headings">
        <div class="row">
          <div class="col-md-12 text-center text-white">
            <h2 class="text-center">
              AGENT OF THE DAY
            </h2>
            <p>
              {{currentDate | date : "EEEE, MMMM dd, yyyy"}}
            </p>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="d-flex justify-content-evenly row p-3">
          <ng-container>
            <div class="card-box">
              <div class="image">
                <span class="smBadge">
                  <img
                  [src]="'../../../../assets/images/bgImages/' + agentOfDay?.Rank + '.png'" alt="">
                </span>
                <img
                  src="../../../../assets/images/bgImages/{{ agentOfDay.TeamLogo != null ? agentOfDay.TeamLogo : 'Falcons.png'}}"
                  alt="">
              </div>
              <div class="row" style="background-color: rgb(174, 135, 22);">
                <div class="col-md-12 text-center text-white">
                  <h4>
                    {{agentOfDay.AgentName}}
                  </h4>
                </div>
              </div>
              <div class="row">
                <!-- <div class="details text-center">
                  <h5 class="text-danger">
                    Bench
                  </h5>
                </div>
                <div class="details text-center">
                  <h5 class="text-danger">
                    {{agentOfDay.Bench | number}}
                  </h5>
                </div> -->
                <div class="details text-center">
                  <h5 class="text-warning">
                    Amount
                  </h5>
                </div>
                <div class="details text-center">


                  <h5 class="text-warning">
                    {{agentOfDay.Achive | number}}
                  </h5>
                </div>
              </div>
            </div>
          </ng-container>


        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

</div>