table.table.table-bordered tr th {
    background: rgb(174 135 22 / 77%);
    color: white;
    border-color: rgb(174, 135, 22);
    font-size: medium;
}

table.table.table-bordered tr td,table.table.table-bordered tr {
    /* background: rgb(174 135 22 / 77%); */
    color: white;
    border-color: rgb(174, 135, 22);
    font-size: medium;
}


.content{
    /* height: 1024px; */
    background-image: url(../../../../assets/images/bgImages/bg-1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;


        margin: 0;   
      background-size: cover; 
      background-repeat: no-repeat;  
      background-position: center;
}