table.table.table-bordered tr th {
    background: rgb(174 135 22 / 77%);
    color: white;
    border-color: rgb(174, 135, 22);
    font-size: medium;
}

table.table.table-bordered tr td,table.table.table-bordered tr {
    /* background: rgb(174 135 22 / 77%); */
    color: #fff;
    border-color: #ae8716;
    font-size: 17px;
    font-weight: 600;
    font-family: system-ui;
}

span.title-sale {
    font-size: 29px;
    color: #af8000;
}