<div class="row my-5">
  <div class="row">
    <div class="col-md-12">
      <h4>
        Team Structure
      </h4>
    </div>
  </div>
    <div class="row p-3">
      <div class="col-md-2">
        <label for="searchText"> <b>Name</b> </label>
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="model.searchText">
      </div>
      <div class="col-md-2">
        <label for="month"> <b>Month</b> </label>
       <select class="form-control" [(ngModel)]="model.monthId">
        <option *ngFor="let item of monthList" [value]="item.Id">{{item.Title}}</option>
      </select> 
      </div> 
      <div class="col-md-2">
        <label for="year"> <b>Year</b> </label>
        <input type="number" class="form-control" placeholder="Year" [(ngModel)]="model.year">
      </div>
      <div class="col-md-2 mt-4">
       <button class="btn btn-primary" (click)="getTeamStructure()">
        Search
       </button>
      </div>
      <div class="col-md-4 text-end">
        <button class="btn btn-add" (click)="addTeamAgent()"> 
          + Add Team Agent
        </button>
      </div>
    </div>
      <div class="col-md-12 table-content">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="width: 2%;" scope="col">S#</th>
                  <th scope="col">Agent</th>
                  <th scope="col">Role</th>
                  <th scope="col">Month</th>
                  <th scope="col">Bench</th>
                  <th scope="col">Achieve</th>
                  <th scope="col">Team</th>
                  <th scope="col">Created Date</th>
                  <th style="width: 8%;" scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{item?.Agent}}</td>
                  <td>{{item?.Role}}</td>
                  <td>{{item?.Month}}</td>
                  <td>{{item?.Bench | number}}</td>
                  <td>{{item?.Achive | number}}</td>
                  <td>{{item?.TeamName}}</td>
                  <td>{{item?.CreatedAt | date}}</td>
                  <td>
                    <button class="btn btn-primary" (click)="editTeamStructure(item)" >
                      Edit
                    </button>

                    <button class="btn btn-danger mx-1" (click)="deleteTeamAgent(item.Id)" >
                      Delete 
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
  