
<div class="top-headings">
  <div class="row">
    <div class="col-md-12 text-center text-white">
      <h2 class="text-center">
        TOP TEAMS
      </h2>
      <p>
        {{currentDate | date : "EEEE, MMMM dd, yyyy"}}
      </p>
    </div>
  </div>
</div>
<div class="main-content">

  <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false">


    <ng-template ngbSlide>
      <div class="row">
        <div class="col-md-12">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Team Name</th>
                <th>Team Logo</th>
                <th>Bench</th>
                <th>Achieved</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rank of rankings">
                <td>{{ rank.rank }}</td>
                <td>{{ rank.name }}</td>
                <td>{{ rank.teamName }}</td>
                <td>
                  {{rank.teamLogo}}
                </td>
                <td>
                  {{rank.bench}}
                </td>
                <td>
                  {{rank.achieved}}
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="d-flex justify-content-evenly row p-3">
        <ng-container *ngFor="let item of teamsData let i=index">
          <div class="card-box">
            <div class="image">
    
            </div>
            <div class="row" style="background-color: rgb(174, 135, 22);">
              <div class="col-md-12 text-center text-white">
                <h4>
                  {{item.name}}
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="details text-center">
                <h5 class="text-danger">
                  Bench
                </h5>
              </div>
              <div class="details text-center">
                <h5 class="text-danger">
                  {{item.bench}}
                </h5>
              </div>
              <div class="details text-center">
                <h5 class="text-warning">
                  Achieved
                </h5>
              </div>
              <div class="details text-center">
                <h5 class="text-warning">
                  {{item.achieved}}
                </h5>
              </div>
            </div>
          </div>
        </ng-container>
    
    
      </div>
    </ng-template>

  </ngb-carousel>
 
  




</div>


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->