a {
    text-decoration: none;
    color: #ffffff;
  }
  .site-header { 
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background-color: #003d68;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0;
    display: inline-block;
    color: #fffefe;
  }
  
  
  .site-navigation ul, 
  .site-navigation li {
    margin: 0px 9px;
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;

    &:hover{
      background-color: #617f94;
      color: #ffffff;
    }
  }