<header class="site-header">
    <div class="site-identity">
      <h1>
        Tracker Admin
      </h1>
    </div>  
    <nav class="site-navigation">
      <ul class="nav">
        <li><a href="javascript:;" target="_blank" [routerLink]="['/sales/sales-summary']">Screen</a></li> 
        <li><a href="javascript:;" [routerLink]="['/admin/agent-sales']">Add Sale</a></li> 
        <li><a href="javascript:;" [routerLink]="['/admin/team-structure']">Team Structure</a></li> 
        <li><a href="javascript:;" [routerLink]="['/admin/agent']">Agents</a></li> 
        <li><a href="javascript:;" [routerLink]="['/admin/teams']">Teams</a></li> 
      </ul>
    </nav>
  </header>